@import "tailwindcss";

@font-face {
    font-family: "myfont";
    src: url("../public/fonts/myfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'MyFont', sans-serif;
}

